<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  Create your account
</h1>
<p class="text-sm text-gray-700 mt-2 mb-5">
  Register your account to continue. Already have an account? <%= link_to 'Login here', new_user_session_path, class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-5 space-y-4 md:space-y-6" }) do |f| %>
  <div class="flex flex-row space-x-2 w-full">
    <%= f.input :first_name, wrapper_html: { class: "w-full mb-0" } %>
    <%= f.input :last_name, wrapper_html: { class: "w-full mb-0" } %>
  </div>

  <%= f.input :email %>
  <%= f.input :password, placeholder: "••••••••" %>
  <%= f.input :password_confirmation, placeholder: "••••••••" %>
  <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
    Create an account
  </button>
<% end %>
