<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  Forgot your password?
</h1>
<p class="text-sm text-gray-700 mt-2 mb-5">
  Please enter your email address below and we will send you information to change your password.
</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-4 md:space-y-6" }) do |f| %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.button :submit, "Send me reset password instructions", class: "w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>

  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
    <%= link_to 'Login here', new_user_session_path, class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
    or <%= link_to 'Sign up', new_user_registration_path, class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
  </p>
<% end %>
