<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      Calendar Event Management
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>

  <body data-controller="<%= controller.controller_name %>--<%= controller.action_name %>" class="h-full font-sans antialiased overflow-hidden font-normal leading-normal bg-white">
    <%= render partial: "shared/main_navbar" %>

    <%= render partial: "shared/sidebar" %>

    <div class="px-4 sm:ml-64 overflow-scroll h-full">
      <div class="p-4 mt-14">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
