<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      Calendar Event Management
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  </head>

  <body class="flex flex-col h-full font-sans antialiased font-normal leading-normal bg-gray-50 dark:bg-gray-900 p-6">
    <section class="flex flex-row w-full h-full">
      <div class="flex items-center w-full">
        <img class="j2x7_17hqRVmwte_tWFa RV8RoaI_SlEMC5CEQ3ms s39ClfdnICIuO9QZ5YG_" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/authentication/illustration.svg" alt="illustration">
      </div>
      <main class="w-full bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 sm:p-8">
          <a href="/" class="flex mb-6 navbar-brand">
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">Event Management</span>
          </a>
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </div>
      </main>
    </section>
  </body>
</html>
